<h1 id="exampleTitle">
    <span class="exampleIcon maskedtextboxIcon"></span>
    <strong>#= i18n.appTitle #</strong>
</h1>
<div id="exampleWrap">
    <div id="privateroom-remind-form" class="demo-section k-header">
        <h4>#= i18n.authForm.remindLabel #</h4>
        <ul id="fieldlist">
            <li>
                <label for="login">Login:</label>
                <input id="login" class="k-textbox" required />
            </li>
            <li>
                <label for="email">Email:</label>
                <input id="email" class="k-textbox" required />
            </li>
            <li>
                <label></label>
                <span><a id="go-back-link" href="javascript:;">#= i18n.authForm.goBack #</a></span>
            </li>
            <li class="status">
            </li>
        </ul>
        <div align="right" style="margin-top: 30px;">
            <button id="remind-btn" class="k-button k-primary">#= i18n.btn.remindName #</button>
            <button id="cancel-btn" class="k-button">#= i18n.btn.cancelName #</button>
        </div>
    </div>
</div>