<div id="main-auth-form">
    <ul class="fieldlist">
        <li>
            <label for="login">Login:</label>
            <input id="login" class="k-textbox" required />
        </li>
        <li>
            <label for="password">Password:</label>
            <input id="password" type="password" class="k-textbox" required />
        </li>
        <li>
            <label></label>
            <button id="login-btn" class="k-button k-primary">#= i18n.btn.loginName #</button>
            <button id="cancel-btn" class="k-button">#= i18n.btn.cancelName #</button>            
        </li>
    </ul>
</div>
