<div class="row">
    <div class="tabstrip">
        <ul>
            <li class="k-state-active"> 
                Количество звонков по префиксу
            </li>
        </ul>
        <div>
            <div class="row">
                <div id="count-call-toolbar">
                    <!-- placeholder -->
                </div>
                <div id="count-call"   style="width: 50%;">
                    <!-- placehodler -->
                </div>                
            </div>
        </div>
    </div>        
</div>
