<div class="col" style="width: 48%;">
                <form id="mvts-hidezone-form">
    <div id="property-form-tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                Hide zone
            </li>
        </ul>

        <div>

            <ul class="fieldlist">
                <li>
                    <label for="userId">User ID</label>
                    <input id="userId" name="userId" required type="text" class="k-textbox" style="width: 100%;" value=""/>
                </li>
                <li>
                    <label for="ipAuthId">IP Auth ID</label>
                    <input id="ipAuthId" name="ipAuthId" required type="text" class="k-textbox" style="width: 100%;" value=""/>
                </li>                
                <li>
                    <button id="mvts-hidezone-form-submit-btn" class="k-button k-primary">Сохранить</button>
                </li>                
            </ul>  

        </div> 
  </div>
          </form>
</div>
