<div class="row">
    <div id="property-form-tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                Список заблокированных номеров
            </li>
            <li>
                История блокировок
            </li>
        </ul>
        <div>
          <div id="blacklist" class="row">
            <!-- placehodler -->
          </div>
        </div>
        <div>
          <div id="blacklist-history" class="row"">
          </div>
        </div>
  </div>
</div>

<script id="detail-template" type="text/x-kendo-template">
<div class="row">
  <div class="blacklist-detail">
  </div>
  <br>
  <div class="fraudlist">
  </div>
</div>
</script>
