<div class="row">
    <div class="tabstrip">
        <ul>
            <li class="k-state-active"> 
                Статистика работы
            </li>
            <li> 
                Статистика добавления
            </li>
        </ul>
        <div>
                <div id="whitelist-statistic-toolbar">
                    <!-- placeholder -->
                </div>
                <div id="whitelist-statistic" class="statistic-wrapper">
                    <!-- placehodler -->
                </div>    
        </div>
        <div>
             <div id="whitelist-statistic-number-toolbar">
                    <!-- placeholder -->
                </div>
                <div id="whitelist-statistic-number" class="statistic-wrapper">
                    <!-- placehodler -->
                </div> 
        </div>
    </div>        
</div>
