<div type="text/x-kendo-template">
    <form id="wholesale-crm-tasks-form-#: number #" name=#: table #>
        <div>
            <fieldset class="wholesale-fieldset">
                <legend class="wholesale-legend">#: table_nm #</legend>

                <ul data-template="fieldsTemplate" data-bind="source: data" class="fieldlist"></ul>

                <ul class="fieldlist">
                    <li>
                        <button type="submit" class="k-button k-primary">Сохранить
                        </button>
                    </li>
                </ul>

            </fieldset>
        </div>
    </form>
</div>