<div class="col" style="width: 48%;" id="crm-tasks-contract-download-wrapper">
    <div id="property-form-tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                Скачать договор
            </li>
        </ul>

        <div>
            <div class="input-wrapper">
                <button id="contract-download-btn" class="k-button k-primary contractButton">Скачать договор</button>
            </div>

            <form id="commonForm">

                <button type="submit" id="contract-cancel-btn" class="k-button k-primary contractButton">Отменить шаг</button>
                <button type="submit" id="contract-submit-btn" class="k-button k-primary contractButton">Далее</button>
            </form>

        </div>
    </div>
</div>
