<div class="col" style="width: 48%;" id="crm-tasks-contract-download-wrapper">
    <div id="property-form-tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                Занесение плана маршрутизации, занесение тарифов
            </li>
        </ul>

        <div>
            <div class="input-wrapper">
                <label for="routingPlan" class="k-edit-label">Занесение плана маршрутизации</label>
                <textarea style="width: 90%" id="routingPlan" name="routingPlan" rows="8" cols="45"></textarea>
            </div>
            <div class="input-wrapper">
                <label for="tariffEntry" class="k-edit-label">Занесение тарифов</label>
                <textarea style="width: 90%" id="tariffEntry" name="tariffEntry" rows="8" cols="45"></textarea>
            </div>

            <form id="commonForm">

                <button type="submit" id="entries-cancel-btn" class="k-button k-primary entriesButton">Отменить шаг</button>
                <button type="submit" id="entries-submit-btn" class="k-button k-primary entriesButton">Далее</button>
            </form>

        </div>
    </div>
</div>
