<div id="tabstrip" class="tabstrip">
  <ul>
    <li class="k-state-active">
      Оформление договора
    </li>
  </ul>
  <div>
    <div id="crm-task-level1-1">
      <form id="jurForm">
        <div class="input-wrapper">
          <label for="agreementFormId" class="k-edit-label" style="width: 20%; text-align: left;">Форма договора:</label>
          <input id="agreementForm" name="agreementForm" data-bind="value:agreementForm" style="width: 70%;" required />
        </div>
      </form>
    </div>
    <div id="crm-task-level1-2">
    </div>
  </div>
</div>