<div id="tabstrip" class="tabstrip">
    <ul>
        <li class="k-state-active">
            Зоны, префиксы
        </li>
    </ul>
    <div>
        <div id="crm-zones-list">
            <!-- placehodler -->
        </div>

    </div>
</div>
<script id="detail-template" type="text/x-kendo-template">
    <div class="row">
        <div class="zones-list">
        </div>
    </div>
</script>
<script id="detail-template-prefix" type="text/x-kendo-template">
    <div class="row">
        <div class="prefix-list">
        </div>
    </div>
</script>