.login-form {
    width: 300px;
    margin: 10% auto !important;     
}
.login-form .fieldlist {
    margin: 4.5em auto;
    padding: 3em;
    border: 1px solid rgba(20,53,80,0.05);
}
.login-form .fieldlist input {
    width: 100%;
}
.login-form .valid {
    color: green;
}
.login-form .invalid {
    color: red;
}