<div id="tabstrip" class="tabstrip">
    <ul>
        <li class="k-state-active">
            Компании
        </li>
        <li>
            Протокол действий
        </li>
        <li>
            Инф.сообщения
        </li>
        <li>
            Трафик
        </li>
    </ul>
    <div>
        <div id="company-list">
            <!-- placehodler -->
        </div>
    </div>
    <div>
        <div id="company-action">
            <!-- placeholder -->
        </div>
    </div>
    <div>
        <div id="common-messages-list">
            <!-- placeholder -->
        </div>
    </div>
    <div>
        <div id="user-traffics">
            <!-- placehodler -->
        </div>
    </div>
</div>

<div id="protocol-details">
    <!-- placeholder -->
</div>