<div class="col" style="width: 48%;">
    <div id="tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                Свойства
            </li>
        </ul>
        <div>
            <ul class="fieldlist">
                <li>
                    <label for="simple-input">Номер</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" value="+79112639718"/>                
                </li>
                <li>     
                    <div class="col" style="width: 49%">
                        <label for="simple-select">Страна</label>
                        <select class="combobox">
                            <option>Россия</option>
                            <option>Казахстан</option>
                        </select>                                                                 
                    </div>
                    <div class="col" style="width: 50%">
                        <label for="simple-select">Город</label>
                        <select class="combobox">
                            <option>Псков</option>
                            <option>Москва</option>
                        </select>            
                    </div>
                </li>                            
                <li>
                    <button class="k-button k-primary">Сохранить</button>
                    <button class="k-button">Удалить</button>
                </li>
            </ul> 
        </div>
    </div>    
</div>
<div class="col" style="width: 49%; position: relative; left: -10px">
    <div id="tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                Траффик
            </li>  
        </ul>
        <div>
            <div id="phone-traffic" class="statistic-wrapper">
                <!-- placehodler -->
            </div>       
        </div>
    </div>    
</div>
<div id="tabstrip" class="tabstrip">
    <ul>
        <li class="k-state-active">
            История звонков
        </li>  
    </ul>
    <div>
        <div id="phone-history-calls" class="statistic-wrapper">
            <!-- placehodler -->
        </div>       
    </div>    
</div>

