<audio data-id="#= recId #"  preload="none">
    <source src="#= src #" type="audio/wav">                                        
</audio>
<div align="center">
    <div class="audio-control" data-id="#= recId #" data-download-voice-content="#= voiceContent #" data-user-global-id="#= userGlobalId #" data-duration="#= duration #">
        <div class="row" align="center">
            <div class="audio-progress-bar"></div>
        </div>
        <div class="row" align="center">
            <div class="audio-control-bar"></div>
        </div>
    </div>                    
</div>