<div id="tabstrip" class="tabstrip">
    <ul>
        <li class="k-state-active">
            Вн.пользователи
        </li>  
        <li>
            Список номеров
        </li>
        <li>
            Платежи
        </li>
        <li>
            История звонков
        </li>   
        <li>
            Протокол действий
        </li>
        <li>
            Инф.сообщения
        </li>    
        <li>
            Документы
        </li>       
        <li>
            Акты и счет-фактуры
        </li>          
    </ul>
    <div>
        <div id="inner-users-list">
            <!-- placehodler -->
        </div>          
    </div>
    <div>
        <div id="aon-list">
            <!-- placeholder -->
        </div>
    </div>
    <div>
        <div id="payments-list">
            <!-- placeholder -->
        </div>        
    </div>
    <div>
        <div id="history-call-list">
            <!-- placeholder -->
        </div>
    </div>
    <div>
        <div id="action-log-list">
            <!-- placeholder -->
        </div>
    </div>    
    <div>
        <div id="messages-list">
            <!-- placeholder -->
        </div>
    </div>   
    <div>
        <div id="documents-list">
            <!-- placeholder -->
        </div>
    </div>     
    <div>
        <div id="invoice-list">
            <!-- placeholder -->
        </div>
    </div>         
</div>
<div id="protocol-details">
    <!-- placeholder -->
</div>