<div id="tabstrip" class="tabstrip">
    <ul>
        <li class="k-state-active">
            Свойства
        </li>
    </ul>
    <div>
        <ul class="fieldlist">
            <li>     
                <div class="col" style="width: 49%">
                    <label for="simple-input">Имя компании</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" value="Миател"/>                                
                </div>
                <div class="col" style="width: 50%">
                    <label for="simple-select">Организационно-правовая форма</label>
                    <select class="combobox">
                        <option>Один</option>
                        <option>Два</option>
                    </select>                
                </div>
            </li>   
            <li>     
                <div class="col" style="width: 49%">
                    <label for="simple-input">Сфера деятельности</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" value="Торговря"/>                                
                </div>
                <div class="col" style="width: 50%">
                    <label for="simple-input">Количество сотрудников</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" value="8"/>                                                
                </div>
            </li>   
            <li>     
                <div class="col" style="width: 49%">
                    <label for="simple-select">Тариф</label>
                    <select class="combobox">
                        <option>Один</option>
                        <option>Два</option>
                    </select>                                
                </div>
                <div class="col" style="width: 50%">
                    <label for="simple-input">Фамилия, имя</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" value="Пользователь 4"/>                    
                </div>                        
            </li>        
            <li>
                <div class="col" style="width: 49%">
                    <label for="simple-input">E-mail</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" value="v.volovikov@gmail.com"/>                                
                </div>
                <div class="col" style="width: 50%">
                    <label for="simple-input">Мобильный телефон</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" value="+79112639718"/>                                
                </div>
            </li>
            <li>
                <div class="col" style="width: 49%">
                    <label for="simple-input">Логин</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" value="20"/>                
                </div>
                <div class="col" style="width: 50%">
                    <label for="simple-input">Пароль</label>
                    <input id="simple-input" type="password" class="k-textbox" style="width: 100%;" value="Пользователь 4"/>                    
                </div>            
            </li>       
            <li>
                <button class="k-button k-primary">Сохранить</button>
            </li>
        </ul>
    </div>
