<div class="row">
    <div class="tabstrip">
        <ul>
            <li class="k-state-active"> 
                Состояние
            </li>
        </ul>
        <div>
            <div class="row">
                <div id="whitelist-statistic-toolbar">
                    <!-- placeholder -->
                </div>
                <div id="whitelist-statistic" class="statistic-wrapper">
                    <!-- placehodler -->
                </div>                    
            </div>
        </div>
    </div>        
</div>
