#cdr-list {
  text-align:right;
}
#cdr-list .k-grid-header .k-link {
  text-align:center;
  width: auto;
}
#cdr-list .k-grid-header {
  padding-right: 0 !important;
}
#cdr-list .k-grid-content {
  overflow-x: scroll;
  overflow-y: hidden;
}
.k-tooltip-content {
  text-align:left;
}
.change-background {
  background-color: #b5eaaa;
}
.block-background {
  background-color: lightpink;
}
.wholesale-fieldset {
  margin-bottom: 30px;
}
.wholesale-legend {
  font-size: 20px;
}
.input-wrapper {
  margin: 10px 0 5px;
  padding: 5px;
}
#bankDetails {
  margin-left: 15px;
}
#crm-tasks-agreement-wrapper .contract-forms {
  display: none;
}
#crm-tasks-agreement-wrapper .contractButton {
  margin-left: 15px;
  margin-bottom: 15px;
}
#crm-tasks-agreement-wrapper h4 {
  margin-left: 10px;
  padding-top: 5px;
}
#crm-tasks-agreement-wrapper fieldset {
  margin: 10px;
}
#wholesale-crm-tasks-list .k-button:hover {
  background-color: darkgray;
  background-image: none;
  border-color: darkgray;
}
#wholesale-crm-tasks-list .blue {
  background-color: #87ceeb;
}
#wholesale-crm-tasks-list .orange {
  background-color: #f4a460;
}
#wholesale-crm-tasks-list .green {
  background-color: #008000;
}
#wholesale-crm-tasks-list .brown {
  background-color: #f4a460;
}
.select-template {
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
}