<div>
    <div id="main-page-content-wrapper" class="content-wrapper">
        <div id="-main-page-tree" class="col main-tree">
            <div id="main-page-tree-general" class="col main-tree-general">
                <ul>
                    <li data-expanded="true">Миател
                        <ul>
                            <li>Сотрудники</li>
                            <li>Задачи</li>
                        </ul>
                    </li>
                    <li data-expanded="true">Виртуальная АТС
                        <ul>
                            <li>Задачи</li>
                            <li>Управление
                                <ul>
                                    <li>Задачи</li>
                                </ul>
                            </li>
                            <li>Настройки</li>
                            <li>Сервера</li>
                        </ul>
                    </li>                    
                    <li data-expanded="true">Транзитная АТС
                        <ul>
                            <li>Сотрудники</li>
                            <li>Контроль</li>
                            <li>Управление</li>
                            <li>Настройки</li>
                        </ul>
                    </li>                                        
                    <li data-expanded="true">Разработка
                    </li>                                                            
                </ul>
            </div>            
            <div id="main-page-tree-section" class="col main-tree-section">
                <!-- placeholder -->
            </div>
        </div>
        <div id="main-page-content" class="col main-content">
            <!-- placeholder -->
        </div>            
    </div>
</div>
