<ul id="main-page-topmenu">
    <li id="main-page-user-menu">Пользователь
        <ul>
            <li id="changePass" class="top-menu"><a href="\\#section/miatel/tree/members/member/#= userId #">#= i18n.mainPanel.changePassword #</a></li>
            <li id="logoff" class="top-menu">#= i18n.mainPanel.logoff #</li>
        </ul>
    </li>
    <li id="main-page-task-notify">Задачи
        <ul>
            <li>
                <div id="main-page-task-notify-menu" style="width: 320px;">
                    <!-- placeholder -->
                </div>
            </li>
        </ul>
    </li>
    <li id="main-page-client-notify">Клиенты
        <ul>
            <li>
                <div id="main-page-client-notify-menu" style="width: 320px;">
                    <!-- placeholder -->
                </div>
            </li>
        </ul>
    </li>
</ul>
