<div id="#= userRoomId #" data-user-hash="#= userHash #" class="chat-user-room">
    <div class="dialog">
        <!-- placeholder -->
    </div>
    <div class="row">
        <textarea style="width: 100%; height: 40px; resize: none" class="text-user-input k-textbox" name="text-user-input"  placeholder="#= i18n.mainPanel.chatPlaceholder #" ></textarea>
    </div> 
    <div class="row button-group" align="right">
        <button class="chat-cancel-btn k-button" type="button">Cancel</button>
        <button class="chat-submit-btn k-button k-primary" type="button">Submit</button>
    </div>                
</div>
