    <div id="tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                Компании
            </li> 
        </ul>
        <div>
            <div id="company-list">
                <!-- placehodler -->
            </div>
        </div> 
    </div>
    <div id="tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                Инф.сообщения
            </li> 
            <li>
                Трафик
            </li>            
        </ul>
        <div>
            <div id="common-messages-list">
                <!-- placeholder -->            
            </div>             
            <div id="user-traffics">
                <!-- placehodler -->
            </div>                          
        </div>
    </div>
