<div class="col" style="width: 48%;">
    <div id="tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                Телефоны
            </li>
        </ul>
        <div>
            <div id="phone-type">
                <!-- placeholder -->
            </div>
        </div>
    </div>    
</div>
<div class="col" style="width: 49%; position: relative; left: -10px">
    <div id="tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                Форма
            </li>  
        </ul>
        <div>
            <ul class="fieldlist">
                <li>     
                    <label for="simple-input">Стоимость</label>
                    <input required name="phoneTypeCost" type="text" class="k-textbox phoneTypeCost" style="width: 100%;" value="#= phoneTypeCost #"/>
                </li>
                <li>
                    <button id="phone-type-cost-form-submit-btn" class="k-button k-primary">Сохранить</button>
                </li>
            </ul>             
        </div>
    </div>    
</div>
