<div class="col" style="width: 48%;">
    <div id="tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                Телефоны
            </li>
        </ul>
        <div>
            <div id="phone-city">
                <!-- placeholder -->
            </div>
        </div>
    </div>    
</div>
<div class="col" style="width: 49%; position: relative; left: -10px">
    <div id="tabstrip" class="tabstrip">
        <ul>
            <li class="k-state-active">
                График
            </li>  
        </ul>
        <div>
            <div id="phone-city-chart" class="statistic-wrapper">
                <!-- placehodler -->
            </div>       
        </div>
    </div>    
</div>

